<div class=row>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon blue pull-left" ng-click="setTransaction()"><i class="fa fa-users"></i></div>
                <div class=title><li class="hidden" ng-repeat="table in conversation =(tables|orderBy:'conversation'|filter: filterThis | filter:errorButton | filter: byDelivered | filter: hospital)"></li>
                {{conversation.length}}</div>
                <div class=comment>Transactions</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left" ng-click="setDelivered()"><i class="fa fa-check"></i></div>
                <div class=title><li class="hidden" ng-repeat="table in delivered =(tables|filter: 'delivered'| filter: filterThis | filter:errorButton | filter: byDelivered | filter: hospital)"></li>
                {{delivered.length}}</div>
                <div class=comment>Delivered</div>
            </rd-widget-body>
        </rd-widget>
    </div>
     <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon hospital-count pull-left" ng-click="setError()"><i class="fa fa-times"></i></div>
                <div class="title" ><li class="hidden" ng-repeat="table in errors =(tables|filter: 'error'| filter: filterThis | filter:errorButton | filter: byDelivered | filter: hospital)" ></li>{{errors.length}}</div>
                <div class='comment'>Errors</div>
                <modal></modal>
            </rd-widget-body>
        </rd-widget>
    </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon red pull-left" ng-click="sethospital()"><i class="fa fa-heartbeat"></i></div>
                <div class=title><li class="hidden" ng-repeat="table in hospital =(tables|filter: 'manual'| filter: filterThis |filter: byDelivered | filter:errorButton)"></li>
                {{hospital.length}}</div>
                <div class=comment>Hospital Count</div>
            </rd-widget-body>
        </rd-widget>
    </div>
   
</div>

<div class="container-fluid" style="width: 100%;">
<div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
        <rd-widget-body>
 <form  name="dateSelector" id="dateSelector" ng-submit="getData(dateRange)" >
     <div class="container-fluid col-lg-6">
     <div class="title" >Start Date</div>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateRange.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn"><br><br>
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            <button type="button" class="btn btn-default" ng-click="timePicker()"><i class="fa fa-clock-o"></i></button>
          </span>
          <div ng-if="showTime" class="panel col-xs-7">
          <div class="well">
          <label class="center">Select Time:</label>
          <div  uib-timepicker ng-model="dateRange.startDate"  hour-step="1" minute-step="15" show-meridian="true"></div>
          <button type="button" class="btn btn-primary" ng-click="closeTime()">Close</button>
          </div>
          </div>
        </p>
        </div>
        <div class="container-fluid col-lg-6">
        <div class="title">End Date</div>
        <p class="input-group">
          <input type="text"  class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateRange.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
            <button type="button" class="btn btn-default" ng-click="timePicker2()"><i class="fa fa-clock-o"></i></button>
          </span>
         <div ng-if="showTime2" class="panel col-xs-7">
          <div class="well">
          <label class="center">Select Time:</label>
          <div  uib-timepicker ng-model="dateRange.endDate"  hour-step="1" minute-step="15" show-meridian="true"></div>
          <button type="button" class="btn btn-primary" ng-click="closeTime2()">Close</button>
          </div>
        </div>
        </p>
        </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="button" ng-click="reset()" class="btn btn-default">Reset</button>
    </form>
        </rd-widget-body>
    </rd-widget>
    </div>
</div>
<br>
<div>
    <div class="col-lg-12">
        <rd-widget>
        <rd-widget-header icon="fa fa-table" title="SOA Table">
          </rd-widget-header>
        <div class="soft-grey">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="search" placeholder="Search.." >
          </div>
        </div>
            <rd-widget-body classes="large no-padding">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed">
                        <tbody>
                            <tr>
                                <th class="col-xs-1" >Conversation ID</th>
                                <th class="col-xs-1 form-group">IntegrationName<select class="form-control pull-right col-lg-1 col-md-1 col-sm-1" ng-model="selected" ng-change="theValue(selected)"><option ng-repeat="table in tables| unique: 'integrationName'| uppercase" ng-value="integrationName">{{table.integrationName}}</option></select></th>
                                <th class="col-xs-1  form-group">Sender<select class="form-control pull-right col-lg-1 col-md-1 col-sm-1" ng-model="selected" ng-change="theValue(selected)"><option ng-repeat='table in tables| unique: "sender"' ng-value="sender">{{table.sender}}</option></select></th>
                                <th class="col-xs-1 form-group">Target<select class="form-control pull-right col-lg-1 col-md-1 col-sm-1" ng-model="selected" ng-change="theValue(selected)"><option ng-repeat='table in tables| unique: "target"' ng-value="target">{{table.target}}</option></select></th>
                                <th ng-click="orderByMe('messageDate')">Date &nbsp;<i ng-class="{'fa fa-chevron-circle-up': md===false, 'fa fa-chevron-down': md=== true }"></i></th>
                                <th class="col-xs-1">Status<select class="form-control pull-right col-lg-1 col-md-1 col-sm-1" ng-model="selected" ng-change="theValue(selected)"><option ng-repeat='table in tables| unique: "messageState"' ng-value="messageState">{{table.messageState}}</option></select></th>
                            </tr>
                            <tr dir-paginate="(key, val) in tables| orderBy:myOrderBy: reverse | filter: filterThis | filter:errorButton | filter: byDelivered | filter: hospital | filter:search|itemsPerPage: 50">
                                <td class="col-xs-2">{{val.conversationID}}</td>
                                <td class="col-xs-2">{{val.integrationName}}</td>
                                <td class="col-xs-3">{{val.sender}}</td>
                                <td class="col-xs-2">{{val.target}}</td>
                                <td class="col-xs-4">{{val.messageDate}}</td>
                                <td class="col-xs-1" ng-class="{ 'text-primary': val.messageState === 'ERROR'}" ng-click="getValue(val.conversationID, val.errorInfo.errorReason, val.errorInfo.errorDetail, val.errorInfo.retryStatus)" >{{val.messageState}}</td>  
                                                     
                          </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
                  <rd-widget-footer>
                   <dir-pagination-controls 
                   max-size="50"
                   direction-links="true"
                   boundary-links="true">
                   </dir-pagination-controls>
                    <div class="clearfix"></div>
            </rd-widget-footer>
        </rd-widget>
    </div>

<div  id="errorInfo" ng-if="errorReason">
<div class="panel">
 <h4 class="panel-header text-center">Error Info</h4>
  <div class="panel-body">
       <span class="text-justify text-danger">ConversationID:</span>
       <span>&nbsp;{{convoId}}</span><br>
       <span class="text-justify text-danger">ErrorReason: </span><span>{{errorReason}}</span><br>
       <span ng-hide="!errorDetail" class="text-justify text-danger">ErrorDetails:</span><span> {{errorDetail}}</span><br>
       <span class="text-justify text-danger">RetryStatus:</span><span>{{retryStatus}}</span><br>
       <button class="btn btn-danger" ng-click="close()">X</button>
       </div>
</div>
</div>


